* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0E0E0;
    padding: 20px;
    font-family: Times New Roman, serif;
}

header, nav, aside, main, footer {
    background-color:rgba(181, 168, 207, 0.533);
    border: 0,5px solid rgb(151, 149, 149);
    text-align: center;
    margin-bottom: 5px;
}

header {
    padding: 30px;
    font-size: 18px;
}

nav {
    padding: 20px;
    font-size: 16px;
}

section {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    height: 350px;
}

aside {
    width: 20%;
    padding-top: 150px;
}

main {
    width: 60%;
    padding-top: 150px;
}

footer {
    padding: 20px;
    font-size: 16px;
}